header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 20px;
}

.header-logo{
    width: 80px;
    height: 40px;
}

.header-icon{
    display: flex;
}

.header-icon a{
    margin-left: 20px;
}

.header-icon figure{
    width: 30px;
    height: 30px;
}

.hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px,1px,1px,1px);
    overflow: hidden;
}

.logo-container{
    position: relative;
}

.logo-container a{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;   
}

#intro-logo{
    background-image: url(../img/back22.png);
    width: 100%;
    height: 100vh;
    /* background-color: #F7C1DC; */
    /* background-color: ; */
    background-repeat: no-repeat;
    position: relative;
    object-fit: contain;
    /* object-position: center; */
}

.flower{
    width: 264px;
    height: 254px;
    position: absolute;
}

.letter{
    width: 611px;
    height: 413px;
    margin: 0 auto;
}