.header-hide{
    display: none;
}

.move-in{
    transform: translateY(100px);
    /* transition: 0.2s; */
    opacity: 0;
}

/* .move-in:nth-of-type(2){
    transition-delay: 0.2s;
}

.move-in:nth-of-type(3){
    transition-delay: 0.4s;
} */
.show:nth-of-type(2){
    transition-delay: 0.2s;
}

.show:nth-of-type(3){
    transition-delay: 0.4s;
}

.move-up{
    transform: translateY(100px);
    /* transition: 0.8s; */
    opacity: 0;
}


.move-right{
    transform: translateX(-100px);
    
    opacity: 0;
    transition-delay: 0.5s;
}





@media screen and (max-width: 1239px){

    .move-in{
        transform: translateX(-100px);
        transition: 0.4s;
        opacity: 0;
    }

    .move-in:nth-of-type(2){
        transition-delay: 0.4s;
    }
    
    .move-in:nth-of-type(3){
        transition-delay: 0.8s;
    }

    .show:nth-of-type(2){
        transition-delay: 0s;
    }
    
    .show:nth-of-type(3){
        transition-delay: 0s;
    }

}    

@media screen and (max-width: 904px){
    .change{
        background-color: var(--pink-back);
    }
}

.show {
    transform : none;
    opacity: 1;
    transition: 0.4s;
}